Repository igorxciv/igorcodes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,md,mdx,css,scss,json,yml,yaml}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

Update home bio and links
  components/page-sections/home/hero-visual.tsx
Due: prettier --write, eslint --fix

Update home about copy
  components/page-sections/home/hero-visual.tsx
Due: prettier --write, eslint --fix

Create README for project
  README.md
Due: prettier --write

Update home page and SEO tags
  app/about/page.tsx
  app/blog/page.tsx
  app/layout.tsx
  app/page.tsx
  app/projects/page.tsx
  app/resume/page.tsx
Due: prettier --write, eslint --fix

Add MDX blog foundation
  app/blog/[...slug]/page.tsx
  app/blog/page.tsx
  components/mdx/mdx-callout.tsx
  components/page-sections/blog/blog-featured.tsx
  components/page-sections/blog/blog-main.tsx
  components/page-sections/blog/blog-recent.tsx
  content/posts/2026/02/05/hello-mdx.mdx
  content/posts/2026/02/06/draft-notes.mdx
  lib/formatters/date.ts
  lib/server/posts.ts
  lib/types/posts.ts
  mdx-components.tsx
  next.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Add MDX blog foundation
  README.md
Due: prettier --write

Update logo and tagline
  components/icons/perfect_circle_logo.svg
  components/layout/site-header.tsx
Due: prettier --write, eslint --fix

Update resume with AI experience
  components/page-sections/resume/resume-experience.tsx
Due: prettier --write, eslint --fix

Update icons to lucide set
  .eleventy.js
  app/_includes/layouts/personal-site.njk
  app/_includes/partials/personal-site-page.njk
  app/assets/css/fonts.css
  app/assets/css/personal-site.css
  app/assets/css/site.css
  app/assets/js/personal-site.js
  app/personal-website.njk
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Fix footer alignment issues
  ABOUT_ME.md
  app/_includes/layouts/work-item.njk
  app/_includes/partials/personal-site-page.njk
  app/assets/css/personal-site.css
  app/assets/css/site.css
Due: prettier --write

Update portfolio content
  app/_data/portfolio.js
  app/_data/site.js
  app/_includes/partials/personal-site-page.njk
  app/index.njk
  app/personal-website.njk
  app/work/developer-education-platform.md
  app/work/ecommerce-redesign.md
  app/work/index.njk
  app/work/saas-analytics-dashboard.md
Due: prettier --write, eslint --fix

Fix mobile timeline dot spacing
  app/assets/css/personal-site.css
Due: prettier --write

Fix mobile circle layout
  ABOUT_ME.md
Due: prettier --write

Remove extra pages from personal
  app/assets/css/personal-site.css
  app/assets/css/site.css
Due: prettier --write

Optimize single-page site
  .eleventy.js
  .gitignore
  README.md
  app/404.njk
  app/_data/assets.js
  app/_data/portfolio.js
  app/_data/site.js
  app/_includes/layouts/base.njk
  app/_includes/layouts/personal-site.njk
  app/_includes/layouts/work-item.njk
  app/_includes/partials/personal-site-page.njk
  app/_includes/partials/site-footer.njk
  app/_includes/partials/site-header.njk
  app/_tools/build-assets.mjs
  app/assets/css/personal-site.css
  app/assets/css/site.css
  app/feed.njk
  app/personal-website.njk
  app/robots.njk
  app/sitemap.njk
  app/work/developer-education-platform.md
  app/work/ecommerce-redesign.md
  app/work/index.njk
  app/work/saas-analytics-dashboard.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Add SEO metadata to site data
  app/404.njk
  app/_data/build.js
  app/_data/site.js
  app/_includes/layouts/personal-site.njk
  app/_includes/partials/personal-site-page.njk
  app/assets/css/personal-site.css
  app/feed.njk
  app/index.njk
  app/robots.njk
  app/sitemap.njk
  eslint.config.mjs
Due: prettier --write, eslint --fix

Remove hero portrait section
  app/_includes/partials/personal-site-page.njk
  app/assets/css/personal-site.css
Due: prettier --write

Add view transition animation
  app/404.njk
  app/assets/css/personal-site.css
Due: prettier --write

Fix 404 page layout
  .eleventy.js
  app/404.njk
  app/_data/assets.js
  app/_includes/layouts/personal-site.njk
  app/_tools/build-assets.mjs
  app/assets/css/not-found.css
  app/assets/js/not-found.js
Due: prettier --write, eslint --fix

Update 404 display and transition
  app/assets/css/personal-site.css
Due: prettier --write

Remove !important from CSS resets
  app/assets/css/not-found.css
  app/assets/css/personal-site.css
Due: prettier --write

Verify HTML accessibility standards
  app/404.njk
  app/_includes/partials/personal-site-page.njk
  app/assets/css/not-found.css
  app/assets/css/personal-site.css
  app/assets/js/not-found.js
Due: prettier --write, eslint --fix

Update personal site title
  app/_includes/layouts/personal-site.njk
  app/index.njk
Due: none

Audit accessibility for AA
  app/_includes/layouts/personal-site.njk
  app/_includes/partials/personal-site-page.njk
  app/assets/css/personal-site.css
  app/assets/js/personal-site.js
Due: prettier --write, eslint --fix

Fix Selected Work card header overlap
  app/_includes/partials/personal-site-page.njk
  app/assets/css/personal-site.css
Due: prettier --write

Refresh selected work with AI simulations and AR try-on
  app/_includes/partials/personal-site-page.njk
Due: none

Refresh portfolio cards with enterprise and accessibility work
  app/_includes/partials/personal-site-page.njk
Due: none

Update portfolio copy and empty the experiments section
  app/_includes/partials/personal-site-page.njk
Due: none

Add light theme with animated minimal theme switcher
  app/_data/site.js
  app/_includes/layouts/personal-site.njk
  app/assets/css/personal-site.css
  app/assets/js/personal-site.js
Due: prettier --write, eslint --fix

Fix theme toggle icon visibility transitions
  app/assets/css/personal-site.css
Due: prettier --write

Improve theme toggle accessibility semantics
  app/_includes/layouts/personal-site.njk
  app/assets/css/personal-site.css
  app/assets/js/personal-site.js
Due: prettier --write, eslint --fix
