Repository igorxciv/igorcodes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Improve first paint with critical CSS loading
  app/404.njk
  app/_data/criticalCss.js
  app/_includes/layouts/personal-site.njk
  app/assets/css/noncritical-fonts.css
  app/assets/css/personal-site-critical.css
  app/assets/css/personal-site.css
Due: prettier --write, eslint --fix

Document theme transfer and theme the 404 page
  THEME-TRANSFER.md
  app/404.njk
  app/assets/css/not-found.css
Due: prettier --write

Replace removed Lucide brand icons for v1 upgrade
  .eleventy.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Fetch latest writing articles from blog feed
  app/_data/site.js
  app/_data/writing.js
  app/_includes/partials/personal-site-page.njk
Due: prettier --write, eslint --fix

Add Umami analytics tracking
  .gitignore
  app/_data/site.js
  app/_includes/layouts/personal-site.njk
  mise.toml
Due: prettier --write, eslint --fix

Harden build pipeline and data layer
  .eleventy.js
  app/_data/assets.js
  app/_data/build.js
  app/_data/criticalCss.js
  app/_data/site.js
  app/_data/writing.js
  app/_tools/build-assets.mjs
  app/assets/css/fonts.css
  app/feed.njk
  docs/THEME-TRANSFER.md
  eslint.config.mjs
  mise.toml
  package-lock.json
  package.json
  public/images/profile-blob.svg
Due: prettier --write, eslint --fix

Consolidate CSS tokens and fix no-JS/theme CSS
  app/assets/css/noncritical-fonts.css
  app/assets/css/not-found.css
  app/assets/css/personal-site-critical.css
  app/assets/css/personal-site.css
  app/assets/css/tokens.css
Due: prettier --write

Extract page content to data; a11y and SEO template fixes
  app/_data/contacts.js
  app/_data/projects.js
  app/_data/timeline.js
  app/_includes/layouts/personal-site.njk
  app/_includes/partials/personal-site-page.njk
  app/assets/js/not-found.js
  app/assets/js/personal-site.js
  app/robots.njk
  app/sitemap.njk
Due: prettier --write, eslint --fix

Add CI, security headers, placeholder SEO assets, and docs
  .github/dependabot.yml
  .github/workflows/ci.yml
  .prettierignore
  .vscode/settings.json
  AGENTS.md
  README.md
  docs/IMPROVEMENT-PLAN.md
  docs/purge-fonts-from-history.md
  public/images/seo/apple-touch-icon-180x180.png
  public/images/seo/favicon-32x32.png
  public/images/seo/favicon.ico
  public/images/seo/igor-cheliadinski-profile-800x800.jpg
  public/images/seo/igorcodes-logo-512x512.png
  public/images/seo/igorcodes-og-1200x630.jpg
  vercel.json
Due: prettier --write

Ignore oh-my-claudecode operational state (.omc)
  .gitignore
Due: none

Upgrade to Node 26 and modernize toolchain (pnpm, Biome, lefthook, rolldown)
  .eleventy.js
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .vscode/settings.json
  AGENTS.md
  README.md
  app/_data/assets.js
  app/_data/build.js
  app/_data/criticalCss.js
  app/_data/site.js
  app/_data/writing.js
  app/_includes/layouts/personal-site.njk
  app/_tools/build-assets.mjs
  app/assets/css/not-found.css
  app/assets/css/personal-site-critical.css
  app/assets/css/personal-site.css
  app/assets/css/tokens.css
  app/assets/js/not-found.js
  app/assets/js/personal-site.js
  biome.json
  eslint.config.mjs
  lefthook.yml
  mise.toml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.mjs
  vercel.json
Due: prettier --write, eslint --fix

Move licensed fonts out of git to a private Vercel Blob store
  .github/workflows/ci.yml
  .gitignore
  README.md
  app/_tools/fetch-fonts.mjs
  app/_tools/fonts-manifest.mjs
  app/_tools/upload-fonts.mjs
  docs/purge-fonts-from-history.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Record font-history purge as done; add app/fonts + filter-branch steps
  docs/purge-fonts-from-history.md
Due: prettier --write

Pin Node 24 for Vercel compatibility
  .github/workflows/ci.yml
  mise.toml
  package.json
Due: prettier --write

Remove spent planning docs from docs/
  AGENTS.md
  docs/IMPROVEMENT-PLAN.md
  docs/THEME-TRANSFER.md
Due: prettier --write

Tighten Biome to a strict ruleset and clean up violations
  .eleventy.js
  app/_data/writing.js
  app/_tools/build-assets.mjs
  app/assets/js/not-found.js
  app/assets/js/personal-site.js
  biome.json
Due: prettier --write, eslint --fix

Add Span project and AI adoption work to site content
  app/_data/projects.js
  app/_data/timeline.js
Due: prettier --write, eslint --fix

Strengthen AEO: enrich Person schema, add llms.txt, name AI crawlers
  app/_data/site.js
  app/_includes/layouts/personal-site.njk
  app/llms.txt.njk
  app/robots.njk
Due: prettier --write, eslint --fix

Fix CSP to allow umami analytics gateway host
  vercel.json
Due: prettier --write

Add All Rights Reserved LICENSE and update README
  LICENSE
  README.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,mdx,css,scss,json,yml,yaml}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
